.contact{
    background-color: #1A1A1A;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    position: relative;
}
.contact-heading{
    color: white;
    font-size: clamp(3rem, 2vw, 5rem);
    text-decoration: underline;
    text-decoration-color: #F54B58;
}
.contact-description{
    width: 50%;
    color:white;
    font-size: clamp(15px, 2vw, 25px);;
}
.input{
    border: none;
    color: #A2A2A2;
    background-color: #282828;
    width: 50vw;
    padding: 10px 0 10px 20px;
}
.input-message{
    border: none;
    color: #A2A2A2;
    background-color: #282828;
    width: 50vw;
    padding: 10px 0 50px 20px;
}
.submit-button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: clamp(15px, 5vw, 25px);
    text-decoration: underline;
    text-decoration-color: #F54B58;
    position: absolute;
    left: 65%;
    top: 90%;
    cursor: pointer;
    transition: color 0.3s ease;
}
.submit-button:hover{
    color:#F54B58;
    
}