.navbar{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #272727;
    position: fixed;
    z-index: 1000;
}
.navbar a{
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-family: "Roboto";
    transition: color 0.3s;
}
a:hover{
    color:#F54B58;
}
.navbar-options{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 20px;
    padding-right: 20px;
}